.TTTtitle {
    text-align: center;
    color: rgb(255, 255, 255, .90);
    text-decoration: underline;
    text-decoration-color: #d66c45;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    margin-bottom: 5px;
}

.TTTcontainer {
    display: flex;
}

.TTTboardDiv {
    margin: auto;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgba(255, 255, 255, .30);
}

.TTTcolumn {
    display: flex;
    flex-direction: column;
}

.TTTbox {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .30);
    background-color: rgba(255, 255, 255, .10);
    padding: 10px;
    width: 150px;
    height: 150px;
}

.TTTbox:hover {
    border-color: rgba(255, 255, 255, .35);
    background-color: rgba(255, 255, 255, .15);
    cursor: pointer;
}

.resultDiv {
    align-items: center;
}

.result {
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.UNContainer {
    display: flex;
    margin: auto;
}

.UNDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.UNDisplay {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.player1{
    font-size: 25px;
    margin-bottom: 5px;
} 

.player2 {
    font-size: 25px;
    margin-top: 5px;
}

.winner {
    color: #d6b445;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

.draw {
    color:#4567d6;
    font-size: 25px;
    padding: 0;
}

.DrawDiv {
    text-align: center;
}