{% extends "App.html" %}

{% load static %}

{% block title %}Tic Tac Toe Game{% endblock %}

{% block content %}
{% include "nav.html" %}

<body>
    <div class="TTTtitleDiv">
        <h1 class="TTTtitle">Game</h1>
    </div>

    <div class="resultContainer">
        <div class="resultDiv">
            <h2 class="result"></h2>
        </div>
    </div>

    <div class="TTTcontainer">
        <div class="TTTboardDiv"></div>
    </div>

    <div class="UNContainer">
        <div class="UNDiv">
            <div class="UNDisplay">
                <h3 class="player1"> Player 1 (O) - {{player_one_UN}}</h3> 
                {%if player_one_UN == winnerUN %}
                    <h3 class="winner"> Winner! </h3>
                {% endif %}
            </div>
            <div class="DrawDiv">
                <h3 class="draw">Test</h3>
            </div>
            <div class="UNDisplay">
                <h3 class="player2"> Player 2 (X) - {{player_two_UN}}</h3>
                {%if player_two_UN == winnerUN %}
                    <h3 class="winner"> Winner! </h3>
                {% endif %}
            </div>
        </div>
    </div>

</body>

{{ game_id|json_script:"game-id" }}
{{ moves|json_script:"moves" }}
{{ available_move_list|json_script:"available_move_list" }}
{{ username|json_script:"username" }}
<script src="{% static 'account/tictactoe.js' %}"></script>


{% endblock %}